html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}

body{font-family:Calibri; font-size:18px; background-color:#E6E6E6;}
/* Verdana,sans-serif */

.hr1{border:0;border-top:1px solid #62748D;margin:12px 0 5px 0}
.hr2{border:0;border-top:1px solid #62748D;margin:5px 0 5px 0}

a{text-decoration:none; color:#142336}

.w3-third{float:left;width:100%}

@media (min-width:501px){.w3-third{width:20.0%}
.w3-col.m5{width:41.66666%}.w3-col.m6,.w3-half{width:49.99999%}.w3-col.m7{width:58.33333%}.w3-col.m8,.w3-twothird{width:66.66666%}
.w3-col.m9,.w3-threequarter{width:74.99999%}.w3-col.m10{width:83.33333%}.w3-col.m11{width:91.66666%}.w3-col.m12{width:99.99999%}}
@media (min-width:993px){.w3-col.l1{width:8.33333%}.w3-col.l2{width:16.66666%}.w3-col.l3{width:24.99999%}.w3-col.l4{width:33.33333%}
.w3-col.l5{width:41.66666%}.w3-col.l6{width:49.99999%}.w3-col.l7{width:58.33333%}.w3-col.l8{width:66.66666%}
.w3-col.l9{width:74.99999%}.w3-col.l10{width:83.33333%}.w3-col.l11{width:91.66666%}.w3-col.l12{width:99.99999%}}

.BackgroundColor{color:#000!important;background-color:#F6F6F7!important}
.Content{max-width:980px;margin:auto}
.TopMargin{margin-top:16px!important}
.RowPadding{padding:0 8px}
.RowPadding,.RowPadding>.w3-half,.RowPadding>.Third,.RowPadding>.Twothird,.RowPadding>.w3-threequarter,.RowPadding>.w3-quarter,.RowPadding>.w3-col{padding:0 8px}
.RowPadding:after,.RowPadding:before{content:"";display:table;clear:both}
.Third{float:left;width:100%}
.Third{width:33.33333%}
.Third{padding:0 8px}

.clearfix{overflow: auto;}
.img2{float: right; padding-left:8px; padding-top:8px; padding-bottom:8px; margin:5px}

.BackWhite{color:#000!important;background-color:#fff!important}

.TextGrey{color:#142336!important}
.Container1{background-color: #B6D1FF; padding:0.005em 10px}
.Container2{background-color: #B6D1FF; padding:5px 5px}

.Container5{background-color: #ffffff; padding:15px 15px; margin-top:0px; margin-bottom:7px; margin-left:-10px}
.Container6{background-color: #ffffff; padding:15px 15px; margin-top:0px; margin-bottom:7px; margin-left:-10px}
.Container7{background-color: #ffffff; padding:15px 15px; margin-top:0px; margin-bottom:7px; margin-left:-10px}

.ContainerCode{font-family:ubuntu mono; background-color: #341C4D; color: #ffffff; padding:15px 15px; margin-top:0px; margin-bottom:5px; margin-left:5px}

.comment{font-family:ubuntu mono; color: #00CCCC;}

/* FFE6E6 rouge - E6FFE6 vert - E6E6FF blue */

.Box1{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.DisplayBottomLeft{position:absolute;left:0;bottom:0}
.TextBlack{color:#000!important}
.Large{font-size:24px!important; margin-top:10px; margin-bottom:-5px;}
.Large2{font-size:20px!important; margin-top:10px; margin-bottom:-10px;}


.Twothird{float:left;width:100%}
.Twothird{width:80%}
.Twothird{padding:0 8px}

.FULL{float:left;width:100%; width:100%; padding:0 8px}

.Card{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

.MarginBottom{margin-bottom:16px!important}
.MarginTop{margin-top:16px!important}
.Padding{padding-top:16px!important;padding-bottom:16px!important}

.Teal{color:#fff!important;background-color:#003C8C!important}
.Center{text-align:center!important}
