/*************************************************
 *  Author profile card
 **************************************************/

.cv-author-bar .avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: 70%;
  margin-bottom: -1rem;
}

.avatar-widget {
  margin-top: 2rem;
}

.pdf-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 5rem;
}

.socials {
  width: 100%;
  font-size: 30px;
}
