{{ $page := .page }}
{{ $author_page := .author_page }}
{{ $site_type := site.Params.site_type | default "Person" }}
{{- $has_profile := not (eq nil $author_page.Params.superuser) -}}

{{/* Check an author profile exists. */}}
{{ if $has_profile }}
  {{/* If it's a personal site and primary page author is superuser, link to the homepage rather than their profile page. */}}
  {{ $profile_url := $author_page.RelPermalink }}
  {{ $avatar := ($author_page.Resources.ByType "image").GetMatch "*avatar*" }}
  {{ $avatar_shape := site.Params.avatar.shape | default "circle" }}
  <div class="media cv-author-bar avatar-widget">
      {{ $avatar_image := $avatar.Fill "270x270 Center" }}

      <img class="avatar {{if eq $avatar_shape "square"}}avatar-square{{else}}avatar-circle{{end}}" src="{{ $avatar_image.RelPermalink }}" alt="{{$author_page.Title}}">

  </div>

  <div id="profile" class="socials">
    {{ partial "social_links" $author_page }}
  </div>

  <a class="btn btn-outline-primary btn-page-header pdf-button" href="/files/cv.pdf" target="_blank" rel="noopener">
    PDF
  </a>



{{end}}{{/* Profile page block */}}
