{{ $current_page := . }}


{{/* Check whether to show breadcrumb navigation. */}}
{{ $breadcrumb_page_types := site.Params.breadcrumb.page_types | default dict }}
{{ $show_breadcrumb := index $breadcrumb_page_types .Type | default false }}

<div class="container-fluid docs">
  <div class="row flex-xl-nowrap">
    <div class="d-none d-md-block d-xl-block col-12 col-md-3 col-xl-3 docs-sidebar">

      {{ $author_page := site.GetPage (printf "/%s/%s" "authors" (.Scratch.Get "superuser_username")) }}
      {{ partial "cv_author_bar" (dict "author_page" $author_page) }}

    </div>

    {{/* Show ToC by default. */}} 
    {{ if false }}
    <div class="d-none d-xl-block col-xl-2 docs-toc">
      {{ partial "hooks/page_toc_start" . }}

      <ul class="nav toc-top">
        <li><a href="#" id="back_to_top" class="docs-toc-title">{{ i18n "on_this_page" }}</a></li>
      </ul>

      {{ .TableOfContents }}

      {{ partial "hooks/page_toc_end" . }}
    </div>
    {{ end }}

    <main class="col-12 col-md-9 col-xl-7 py-md-3 pl-md-5 docs-content" role="main">

      <article class="article">

        <div class="docs-article-container">
          {{ if $show_breadcrumb }}
            {{ partial "breadcrumb" $current_page }}
          {{ end }}

          <h1>{{ .Title }}</h1>

          <p>{{ i18n "last_updated" }} {{ $.Lastmod.Format site.Params.date_format }}</p>

          <div class="article-style">
            {{ .Content }}
          </div>
        </div>

      </article>


      
    </main>
  </div>
</div>
